body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 65%;
    margin: 50px;
    padding: 50px 20px 0;
    border: 10px solid rgb(238, 238, 238);
    border-bottom: 25px solid rgb(238, 238, 238);
}

h4 {
    border-bottom: 3px solid gray;
}

.table {
    padding: 5px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    margin-bottom: 0 !important;
}

.title {
    font-weight: 500;
    font-size: 18px;
    padding: 10px 0;
}

.gender {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.content {
    padding-left: 8px;
    font-weight: 400;
}

.container {
    position: relative;
    padding: 0 !important;
}

.container .input, .container i, .container b {
    position: absolute;
}

i {
    top: 15px;
    right: 12px;
    transform: translateY(-50%);
    font-size: 13px;
}

.container b {
    top: 15px;
    right: -20px;
    transform: translateY(-50%);
    font-size: 13px;
}

#notes {
    padding: 20px 0;
}

#editor {
    min-height: 200px;
}

#capcha-code {
    display: flex;
    justify-items: center;
    align-items: center;
}

#capcha-code canvas {
    height: 100px;
}

#capcha-code button {
    position: relative;
    top: -10px;
    margin-left: 20px;
}

#textBox {
    margin-top: 5px;
}

.incorrectCaptcha {
    color: #FF0000;
}

.correctCaptcha {
    color: #7FFF00;
}